nav {
  background-color: var(--primary-color);
  padding: 1rem;
}

#nav-inner {
  max-width: 1200px;
  margin: auto;
}

nav h1 {
  margin: 0;
  padding-left: 2rem;
}

nav a {
  color: var(--primary-color-text);
  text-decoration: none;
  font-weight: 600;
}

footer {
  margin-top: 4rem;
  background-color: var(--primary-color);
  padding: 1rem;
}

footer p {
  margin: 0;
  color: var(--primary-color-text);
  text-align: center;
}

@media screen and (max-width: 560px) {
  nav h1 {
    padding-left: 0;
  }
}
