body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#index-main {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 2rem;
}

section {
  width: 100%;
}

section p {
  line-height: 1.5;
}

.create-poll {
  width: 100%;
  max-width: 720px;
}

.results,
.vote {
  width: 100%;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
}

p.card-footer {
  font-weight: 400;
  color: #6c757d;
}

@media screen and (max-width: 560px) {
  main {
    padding: 1rem;
  }

  .card {
    padding: 1rem;
  }
}
